node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
.DS_Store
/pages/admin/*
!/pages/admin/sample.vue
!/pages/admin/home.vue
!/pages/admin/login.vue
!/pages/admin/icon.vue
server/api/admin
!server/api/admin/login.ts
server/api/pay
server/api/app