.dark {
  --dark-color: #b09573;
  --siderbar-bg: #49443d;
  --siderbar-color: #bfb7ac;
  --siderbar-head-bg: #b09573;
  --siderbar-head-color: #ffffff;
  --siderbar-menu-hover-bg: transparent;
  --siderbar-menu-hover-color: #ffffff;
  --siderbar-menu-active-bg: #ffffff;
  --siderbar-menu-active-color: #333333;
  --siderbar-menu-item-height: 44px;
  --siderbar-border: 1px solid #7e7e7e;
}
.light {
}
